body {
    padding-top: 75px;
}
.recommendationDiv {
    background: #ffffff;
}

.recommendationMain {
    padding: 0 0 15px;
}

body > .recommendationDiv:nth-child(2) {
    position: relative;
    top: -10px;
}

.recommendationMain > div {
    padding: 0 15px;
    width: 100%;
    display: flex;
}
.recommendationMain >div:first-child > h4 {
    color: #888888;
}

.recommendationMain > div:last-child > div:not(.recommendationItem) {
    width: 5px;
}

.recommendationItem {
    flex: 1;
    overflow: hidden;

    height: 200px;
    background-position: center;
    background-size: cover;
}

.recommendationItem > div {
    height: 100%;
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    color: #ffffff;
}

.recommendationItem:hover > div {
    background-image:-webkit-linear-gradient(to bottom, transparent, #222);
    background-image:linear-gradient(to bottom, transparent, #222);
}

body > .container {
    margin-top: 15px;
}

.forumLeftPart {
    background-color: white;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 3px;
}

.subNavigationLeftPart {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.subNavigation > div {
    background-color: white;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 3px;
    padding: 10px 5px;
    margin-bottom: 15px;
}

.subNavigation > div > h5 {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #888888;
}

.forumTypeDiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.forumTypeDiv > div {
    margin: 10px 5px;
    padding: 10px 15px;
}
.forumTypeDiv > div.checked {
    background-color: #aaaaaa;
    border-radius: 5px;
}
.forumTypeDiv > div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forumTypeDiv > div > a > span:first-child {
    color: #5a5a5a;
    font-size: 40px;
    margin-bottom: 10px;
}
.forumTypeDiv > div > a > span:last-child {
    color: #5a5a5a;
    font-size: 15px;
}

.smalleForumTypeDiv > div {
    margin: 0 0 10px 0;
    padding: 8px 12px;
}
.smalleForumTypeDiv > div > a > span:first-child {
    font-size: 35px;
}

.subNavigation > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tagChoosingDiv {
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
}

.tagChoosingDiv .checkbox {
    width: 20%;
    margin-top: 5px;
    overflow: hidden;
}

.tagChoosingDiv + div > button {
    margin-right: 20px;
    padding: 5px 30px;
    -webkit-transition: .5s;
    transition: .5s;
}
.tagChoosingDiv + div  {
    display: flex;
    justify-content: flex-end;

}
.tagChoosingDiv + div > button:focus {
    outline: none;
    box-shadow: none;
}


.forumTabDiv {
    color: #5a5a5a;
    border-bottom: #F2F2F2 2px solid !important;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;

    display: flex;
    justify-content: flex-start;
}
.forumTabDiv > span {
    padding: 5px 10px 0;
}
.forumTabDiv > span > a {
    cursor: default;
    text-decoration: none;
}
.forumTabDiv > span:last-child {
    position: relative;
}
.forumTabDiv > span.checked {
    background-color: #f2f2f2;
    border-radius: 5px 5px 0 0;
}
.forumTabDiv > span:nth-last-child(2) {
    flex: 1;
}

.forumItemDiv {
    min-height: 20px;
    padding: 25px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: flex-start;
}
.forumItemDiv:last-child {
    border: 0;
}

.forumItemPic {
    margin-right: 1em;
}

.forumItemContent {
    flex: 1;
}

.forumItemContent > div:first-child {
    margin-bottom: 15px;
}
.forumItemContent > div:first-child > a {
    font-size: 18px;
    color: #5a5a5a;
    font-weight: 500;
    text-decoration: none;
    line-height: 23px;
}

.forumItemContent > div:first-child > a:hover {
    color: #57ADFD;
}
.forumItemContent > div:last-child {
    display: flex;
    align-items: flex-start;
}

.forumItemContentInfo span {
    font-size: 14px;
    color: #B0B4B7;
    margin-right: 20px;
}
.forumItemContentInfo > span:nth-child(3) {
    flex: 1;
    text-align: left;
}
.forumItemContentInfo > span:last-child {
    margin-right: 0;
    font-size: 20px;
    position: relative;
    top: -8px;
}
.forumItemContentInfo > span:last-child > span {
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: 4px;
}
.forumItemContentInfo a {
    font-size: 14px;
    color: #B0B4B7;
    text-decoration: none;
}
.forumItemContentInfo a:hover {
    color: #57adfd;
}

.tagChoosingDiv input[type='text'] {
    border: none;
    border-bottom: 1px solid #888888;
    padding: 0 5px 5px;
    width: 100%;

}