body {
    padding-top: 100px;
}

.simditor {
    width: 100%;
}

.z_title{

    padding: 0px 5px 0 12px;
    font-size: 14px;
    border: none;
    background: none;
    background-image: url(../images/haha.png);
    background-repeat: no-repeat;
    background-position: 0px;
    color: #8b8b8b;

}