.mainBody {
    background-color: white;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 3px;
    padding: 10px 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}

.mainBody > a {
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeee;
    text-decoration: none;
    margin: 20px 0 10px;

}

.postTitleDiv {
    width: 100%;
    display: flex;
    position: relative;
    font-size: 16px;
    margin: 10px 0 10px;
    padding-bottom: 5px;
    border-bottom: #ddd 1px solid;

}

.postTitleDiv > a > span {
    top: 2px;
}
.postTitleDiv > a {
    width: 200px;
    cursor: pointer;
}

.postTitleDiv > input {
    flex: 1;
    text-align: center;
    border: none;

    color: #71777f;
    font-size: 20px;
    font-weight: bold;

    position: relative;
    top: -2px;
}

.postTitleDiv > span {
    width: 200px;
    text-align: end;
    cursor: default;
}


.postOptionDiv {
    display: flex;
    width: 100%;
    margin: 10px 0;
    background-color: #eeeeee;
    padding: 15px 0;
    font-size: 16px;
}

.postOptionDiv > div:first-child {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 0 15px;
}

.postOptionDiv > div:last-child {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1;

    border-left: #71777f 1px dashed;
    padding: 0 15px;
}

.postOptionDiv > div:first-child > div:first-child {
    display: flex;
    margin-bottom: 5px;
}

.postOptionDiv > div:first-child > div:first-child > span {
    flex: 1;
}

.postOptionDiv > div:first-child > div:first-child > a span {
    top: 3px;
}


.postOptions {
    margin-top: 10px;
}

.postOptions > input {
    outline: none;
}

.postOptions .input-group-addon {
    background-color: #fff;
}

.postOptionDiv > div:first-child button {
    margin-top: 10px;
    width: 80%;
}

#addOptionBtn {
    cursor: default;
}

.postOptionDiv > div:last-child > span{
    display: inline-block;
    margin-bottom: 5px;
}
.postOptionDiv > div:last-child select {
    width: 40px;
}
.postOptionDiv > div:last-child > div{
    margin-bottom: 5px;
}

.postEditorDiv {
    width: 100%;
    margin: 10px 0;
}

.postEditorDiv .simditor {
    width: 100%;
    position: static;
    min-height: 600px;
}

.postBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.postBtns button {
    border-radius: 20px;
    background-color: transparent;
    border: #B0B4B7 solid 1px;
    padding: 10px 30px;
    margin-left: 20px;
}

.postBtns button:hover {
    background-color: #458ac9;
    border: #458ac9 solid 1px;
    color: #ffffff;
}

.postKeyWordsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    background-color: #eeeeee;
    padding: 15px 15px;
    font-size: 16px;
}

.postKeyWordsDiv > div:last-child {
    border-bottom: 1px solid #888;
    margin-top: 8px;
    display: flex;
    align-items: center;
    height: 47px;
}

.postKeyWordsDiv .chip {
    display: inline-block;
    padding: 0 10px 0 15px;
    height: 36px;
    font-size: 16px;
    line-height: 35px;
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid #888;
    margin: 5px;
}

.postKeyWordsDiv .deleteKeyWordBtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.postKeyWordsDiv .deleteKeyWordBtn:hover span {
    color: #000;
}

.postKeyWordsDiv input {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
}

.setCoverDiv {
    width: 100%;
    margin: 10px 0;
    background-color: #eeeeee;
    padding: 15px 15px;
    font-size: 16px;
}

.setCoverDiv > div:first-child {
    display: flex;
    align-items: center;
}

.setCoverDiv > div:first-child > span:nth-child(2) {
    flex: 1;
}

.setCoverDiv input[type='file'] {
    display: none;
}

.setCoverDiv .chip {
    display: none;
    padding: 0 10px;
    height: 36px;
    font-size: 16px;
    line-height: 35px;
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid #888;
    margin-left: 10px;
    cursor: default;
}

.setCoverDiv .chip.showChip {
    display: inline-block;
}

#img-preview > img {
    width: 100%;
}