.forumSearch {
    border: transparent;
    box-shadow: none;
    margin-top: 30px;
}

.well {
    border: transparent;
    box-shadow: none;
}

.postHead{
    margin-bottom: 10px;
}

.postContent p{
    line-height: 22px;
    font-size: medium;
}