.sidebarBlock {
  display: flex;
  flex-direction: column;
}

.well > span:first-child {
  font-size: 18px;
  font-weight: bold;
  color: #888888;
  display: block;
  margin-bottom: 8px;
}

.forumUserInfo {
  display: flex;
  width: 100%;
}
.forumUserInfo > div:first-child {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forumUserInfo > div:first-child > span {
  padding: 7px;
  border-radius: 0 0 5px 5px;
  background-color: #57adfd;
  color: #ffffff;
  width: 100%;
  text-align: center;
}


.forumUserInfo > div:last-child {
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.forumUserInfo > div:last-child > span {
  color: #5a5a5a;
  font-size: 20px;
  margin: 15px 0 10px;
}

.forumUserInfo > div:last-child > div {
  width: 100%;
  padding: 10px;
  display: flex;
}
.forumUserInfo > div:last-child > div > a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forumUserInfo > div:last-child > div > a > span:first-child {
  font-size: 20px;
  margin-bottom: 3px;
  color: #5a5a5a;
}
.forumUserInfo > div:last-child > div > a > span:last-child {
  font-size: 12px;
  color: #5a5a5a;
}

.forumPosterInfo .forumUserInfo > div:last-child > span:first-child {
  color: #5a5a5a;
  font-size: 14px;
  margin: 10px 0 -10px;
}
.forumPosterInfo > div:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
}
.forumPosterInfo > div:last-child button {
  width: 47%;
  margin-top: 20px;
  padding: 4px;
  background-color: #57adfd;
  color: #ffffff;
}
.forumPosterInfo > div:last-child button:last-child {
  margin-left: 3%;
}
.forumPosterInfo > div:last-child button:first-child {
  margin-right: 3%;
}


.forumNewBtn {
  margin-bottom: 20px;
}
.forumNewBtn > button {
  font-size: 18px;
  width: 100%;
  padding: 8px;
  background-color: #57adfd;
  color: #ffffff;

}
.forumNewBtn > button:hover {
  background-color: #458ac9;
  color: #ffffff;
}

.forumSearch {
  background-color: white;
  border-radius: 3px;
}

.forumSearch input:focus {
  box-shadow: none;
}

.typeSidebar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.typeSidebar > div {
  margin: 10px 5px;
}

.typeSidebar > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.typeSidebar > div > a > span:first-child {
  color: #5a5a5a;
  font-size: 35px;
  margin-bottom: 10px;
}
.typeSidebar > div > a > span:last-child {
  color: #5a5a5a;
  font-size: 12px;
}

.popularTopicSidebar > div {
  margin-bottom: 3px;

  height: 90px;
  background-position: center;
  background-size: cover;
}

.popularTopicSidebar > div > div {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.popularTopicSidebar > div > div:hover {
  background-image: -webkit-radial-gradient(ellipse, #222, transparent);
  background-image: radial-gradient(ellipse, #222, transparent);
}

.popularForumSidebar > div {
  margin: 0 0 5px;
}

.popularForumSidebar > div > p {
  margin-top: -8px;
  color: #888888;
}

.popularForumSidebar > div:hover {
  border-right: 3px solid #458ac9;
}

.popularForumSidebar > div:hover > p,
.popularForumSidebar > div:hover > h5 {
  color: #458ac9;
}
