body{
    padding-top: 50px;
}
.top-pic{
    background-size: cover ;
    /*background-image: url("http://s.dgtle.com/portal/201606/16/103437jl5lsrsisfcfswal.jpg?szhdl=imageview/2/w/1900");*/
    height: 200px;

}

.top-pic > img{
    display: inline;
    height:200px;

}


.back {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #eeeeee;
    text-align: center;
    left: 2%;
    top: 10%;
    position: fixed;
}

.back > a{
    color: #555555;
}

.back > a:hover{
    /*color: #000;*/
    color: #49be38;
}

.topic-name{
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to right, transparent, #222);
}
.topic-name > h1{
    font-size: 60px;
    margin: auto;
    color: white;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding-top: 75px;
}


.article-list{
    background-color: white;
    margin: 0 auto;
    max-width: 740px;
}
.article-item{
    float: none;
    margin: 0 auto;
    padding-top: 10px;

}

.article-item > li{
    position: relative;
    margin: 0 0 17px 0;
    border-bottom: 1px dashed #D9D9D9;
    padding-bottom: 17px;
}

.wrap-img {
    float: right;
    margin-right: 2px;

}
.wrap-img > img{
    height: 80px;
    width: 150px;
}
.info-top{
    font-size: 14px;
    margin: 8px 0;
}

.info-footer{
    font-size: 13px;
    line-height: 20px;
}

.info-footer > span {
    margin: 0 5px 0 12px;
}

.info-footer > span > span{
    margin-left: 4px;
}


.blue-link{
    color: #4094c7;
    font-weight: 500;
}

.blue-link:hover{
    color: rgb(7, 91, 141);
    font-weight: 500;

}


.title{
    font-size: 19px;
    font-weight:bold;
    font-height:1.5;
    margin-bottom: 10px;
}

h4 > a{
    color: #555555;
}

h4 > a:hover{
    color: #000;
}

.fixed-button{
    right: 2%;
    bottom: 4%;
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: #49be38;
    text-align: center;

}


.fixed-button span{
    font-size: 20px;
    color: white;
    padding-top: 20%;
}

.fixed-button :hover{
    width: 40px;
    height: 40px;
    background-color: #2e8965;

}